name: CI
on: [push, pull_request]

env:
  POETRY_HOME: /home/runner/.local
  POETRY_CACHE_DIR: /home/runner/.local/.cache

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        if: steps.cached-dependencies.outputs.cache-hit != 'true'
        run: make install-poetry

      - name: Install packages
        if: steps.cached-dependencies.outputs.cache-hit != 'true'
        run: make install-packages opts="--no-root"

      - name: Lint
        run: make lint

      - name: Start Axon Server (for Aggregates)
        run: make start-axon-server-aggregates

      - name: Run tests (for Aggregates)
        run: TEST_BENCHMARK_NUM_ITERS=20 make test-axon-client-aggregates

      - name: Stop Axon Server (for Aggregates)
        run: make stop-axon-server-aggregates

      - name: Start Axon Server (for DCB)
        run: make start-axon-server-dcb

      - name: Run tests (for DCB)
        run: TEST_BENCHMARK_NUM_ITERS=20 make test-axon-client-dcb

      - name: Stop Axon Server (for DCB)
        run: make stop-axon-server-dcb
